<p>
  <b>Setx:</b>
  <%=h @location.setX %>
</p>

<p>
  <b>Sety:</b>
  <%=h @location.setY %>
</p>

<p>
  <b>Setphoto:</b>
  <%=h @location.setPhoto %>
</p>

<p>
  <b>Comment:</b>
  <%=h @location.comment %>
</p>

<p>
  <b>Kinds:</b>
  <%=h @location.kinds %>
</p>

<p>
  <b>Userid:</b>
  <%=h @location.userId %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
