<h1>Listing locations</h1>

<table>
  <tr>
    <th>Setx</th>
    <th>Sety</th>
    <th>Setphoto</th>
    <th>Comment</th>
    <th>Kinds</th>
    <th>Userid</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.setX %></td>
    <td><%=h location.setY %></td>
    <td><%=h location.setPhoto %></td>
    <td><%=h location.comment %></td>
    <td><%=h location.kinds %></td>
    <td><%=h location.userId %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New location', new_location_path %>
